  #WAP {
    float: left;
    width: 50%;
    padding-top: 5%;
    padding-left: 15%;
  }

  #mocha {
    float: right;
    width: 50%;
    height: 400px;
    overflow: scroll;
    padding: 0%;
  }

  #urlPlugin {
    width: 300px;
  }

  #main {
    float: left;
    width: 50%
  }

  #helper {
    float: left;
    border: 3px;
    border-style: solid;
    padding: 10px;
    width: 50%
  }