div {

    margin-bottom: 2em;
}

input ,textarea , select ,button {

     width: 30em;
     height: 2em;
}

.radio {

    margin: auto;
    
   
}

.Upload {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}
